body, html{
  height:100%;
  width: 100%;
}
body{
  margin: 0px;
  background-image: url('http://antoine.goutenoir.com/games/discollision/img/bg/dancefloor_02.gif');
  font-size: 18px;
  font-family: sans-serif;
}
a:link, a:visited, a:active{
  color: lightblue;
  width: 175px;
  text-align: center;
}
.title, .actionButton, a{
  padding:2px 5px;
  float:right;
  background-color: #555;
  margin: 2px;
}

.actionButton {
  float: left;
  background-color: rgba(100, 100, 100, 0.8);
}
.topbar{
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index:200;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  transform: scale(1.5,1.5);
}

.square-dancer {
  border-radius:0px;
  border: 25px solid blue;
}

.bad-dancer {
  border: 0;
  height: 80px;
  width: 72.5px;
  background-image: url("http://i216.photobucket.com/albums/cc269/erinalexa00/Movies%20and%20TV/SNL/myspace-graphic-funny057.gif");
  background-size: 72.5px 80px;
}

.shy-dancer {
  border: 0;
  background-image: url('http://orig05.deviantart.net/2f6a/f/2014/153/1/9/007_2_by_elle_rei-d7kqgs8.gif');
  height: 80px;
  width: 80px;
  background-size: 80px 80px;
}

.showy-dancer {
  border: 0;
  height: 80px;
  width: 70px;
  background-image: url("http://ih1.redbubble.net/image.44341716.7216/sticker,375x360.u3.png");
  background-size: 93.75px 80px;
  background-position: center;
}

.show-off {
  height: 93.67px;
  width: 60px;
  background-image: url("https://45.media.tumblr.com/fec198149ed65676b566d1863134efb6/tumblr_nd50poz54c1qala6eo2_500.gif");
  background-size: 166.67px 93.67px;
}

.tiny {
  transform: scale(0.5, 0.5);
}

.tiny-div{
  position: fixed;
  height: 150%;
  width: 100%;
  top: -60%;
}

.tiny-button-div {
  position: absolute;
  top: calc(100% - 29px);
  left: calc(100% - 177px);
}
